<h1>{{ languageHandler.getTranslation('title') }}</h1>
<section class="configuration">
  <label for="language">{{ languageHandler.getTranslation('language') }}</label>
  <select id="language" (change)="onLanguageChange($event)" disabled>
    <option *ngFor="let language of wordGenerator.getAvailableLanguages()" [value]="language">{{ language }}</option>
  </select>
  <label for="wordLength">{{ languageHandler.getTranslation('wordLength') }}</label>
  <select id="wordLength" [value]="selectedWordLength()" (change)="onWordLengthChange($event)">
    <option *ngFor="let length of [3, 4, 5, 6, 7, 8, 9, 10]" [value]="length">{{ length }}</option>
  </select>
  <label for="difficulty">{{ languageHandler.getTranslation('difficulty') }}</label>
  <select id="difficulty" [value]="difficulty()" (change)="onDifficultyChange($event)">
    <option *ngFor="let difficulty of possibleDifficulties" [value]="difficulty">{{ getDifficultyTranslation(difficulty) }}</option>
  </select>
  <button (click)="onGenerateWord()" [disabled]="loading()">{{ languageHandler.getTranslation('generateWord') }}</button>
</section>
<section>
  @if (loading()) {
    <p>{{ languageHandler.getTranslation('loading') }}</p>
  } @else {
    @if (word()) {
      <div class="word-container">
        @for (i of numberOfTries(); track `try-${i}`; let idx = $index) {
          <span class="word" (keydown)="onWordCheck($event, idx)">
            @for (letter of word(); track trackByFn($index, letter);) {
              <span class="letter" [attr.contenteditable]="currentTry() === idx" 
                (input)="onLetterInput($event)" 
                (keydown)="onLetterKeydown($event)"
                (paste)="onLetterPaste($event)"
                [class.ignore]="currentTry() !== idx"
              ></span>
            }
          </span>
        }
        @if (wordIsCorrect()) {
          <p>{{ languageHandler.getTranslation('win') }}</p>
        }
      </div>
    } @else {
      <p class="instructions">{{ languageHandler.getTranslation('instructions') }}</p>
    }
  }
</section>
<section *ngIf="word()">
  <div class="keyboard">
    @for (row of allLetters; track row;) {
      <div class="row">
        @for (letter of row; track letter;) {
          <span class="letter" [attr.data-letter]="letter">{{ letter }}</span>
        }
      </div>
    }
  </div>
</section>

